@model TechReviewPoint.Models.Question
@{
    ViewBag.Title = "ques_de";
    //Layout = "~/Views/Shared/ProductDetailsLayout.cshtml";
}

<h2 style="text-align:center">Question</h2>
<div class="container body-content">
    <!--question-->
    <div class="card my-4">
        <h3 class="card-header">
            @Html.DisplayFor(model => model.User.UserName)
        </h3>
        <div class="card-body">
            <h5>
                @Html.DisplayFor(model => model.Problem)
            </h5>
            <p>
                Posted on @Html.DisplayFor(model => model.QuestionDate)
            </p>

            <p >
                @Html.ActionLink("View Answers", "ans",null, new { @class = "btn btn-dark" })
            </p>
        </div>
    </div>
    <!--end of question-->
</div>