@model TechReviewPoint.Models.Product

@{
    ViewBag.Title = "ProductDetails";
    Layout = "~/Views/Shared/ProductDetailsLayout.cshtml";
}



<div class="col-md-4">
    <div class="card h-100">

        <div class="card-body">
            <h1 class="card-title">@Html.DisplayFor(modelItem => Model.ProductName)</h1>
            <h2> @Html.DisplayFor(modelItem => Model.ProductDetails)</h2>
            <p class="card-text"> Price: @Html.DisplayFor(modelItem => Model.ProductPrice)</p>
            <p class="card-text"> @Html.DisplayFor(modelItem => Model.Category)</p>

        </div>
    </div>
</div>

