
@{
    ViewBag.Title = "IssuesInProductDetails";
    Layout = "~/Views/Shared/ProductDetailsLayout.cshtml";
}

<!--Post a Issues Cards Starts Here-->
<div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Write an Issue" aria-label="Recipient's username" aria-describedby="button-addon2">
    <button class="btn btn-outline-secondary" type="button" id="button-addon2">Post</button>
</div>
<!--Post a Issues Ends Starts Here-->



<!--Issues cards start here-->
<div class="card my-4">
    <div class="card-header">
        User Name
    </div>
    <div class="card-body">
        <blockquote class="blockquote mb-0">
            <p>Issue Details</p>
        </blockquote>
    </div>
</div>
<div class="card my-4">
    <div class="card-header">
        User Name
    </div>
    <div class="card-body">
        <blockquote class="blockquote mb-0">
            <p>Issue Details</p>
        </blockquote>
    </div>
</div>
<div class="card my-4">
    <div class="card-header">
        User Name
    </div>
    <div class="card-body">
        <blockquote class="blockquote mb-0">
            <p>Issue Details</p>
        </blockquote>
    </div>
</div>
<div class="card my-4">
    <div class="card-header">
        User Name
    </div>
    <div class="card-body">
        <blockquote class="blockquote mb-0">
            <p>Issue Details</p>
        </blockquote>
    </div>
</div>
<div class="card my-4">
    <div class="card-header">
        User Name
    </div>
    <div class="card-body">
        <blockquote class="blockquote mb-0">
            <p>Issue Details</p>
        </blockquote>
    </div>
</div>
<!--Issues cards Ends here-->
