@{
    ViewBag.Title = "About";
}

<div class="container body-content">
    <br\>
    <div class="row">
        
        <div class="col-lg-4">
            <img src="~/images/Mouree.jpg" class="bd-placeholder-img rounded-circle" alt="" width="200" height="200" />

            <h2>Aysha Gazi Mouri</h2>
            <p>180104076</p>

        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img src="~/images/anik.jpeg" class="bd-placeholder-img rounded-circle" alt="" width="200" height="200" />

            <h2>Tanvir Rahman Anik </h2>
            <p>180104081</p>

        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img src="~/images/Purnendu.jpg" class="bd-placeholder-img rounded-circle" alt="" width="200" height="200" />

            <h2>Purnendu Talukder</h2>
            <p>180104096</p>

        </div><!-- /.col-lg-4 -->
    </div>
</div>