@{
    ViewBag.Title = "About";
}

<div class="container body-content">
    <div class="card-group my-5">
        <div class="card  mx-4">
            <img src="https://source.unsplash.com/1400x600/?Portrait" class="bd-placeholder-img rounded-circle" alt="..." width="200" height="200">
            <div class="card-body">
                <h5 class="card-title">Aysha Gazi Mouri</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
               
            </div>
        </div>
        <div class="card  mx-4">
            <img src="https://source.unsplash.com/1400x600/?Portrait" class="bd-placeholder-img rounded-circle" alt="..." width="200" height="200">
            <div class="card-body">
                <h5 class="card-title">Tanvir Rahman Anik</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                
            </div>
        </div>
        <div class="card  mx-4">
            <img src="https://source.unsplash.com/1400x600/?Portrait" class="bd-placeholder-img rounded-circle" alt="..." width="200" height="200">
            <div class="card-body">
                <h5 class="card-title">Purnendu Talukder</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
               
            </div>
        </div>
    </div>
</div>