@{
    ViewBag.Title = "Home Page";
}

<!--Carousel Slide Starts Here-->
<div id="carouselExampleDark" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
            <img src="https://source.unsplash.com/1400x400/?review" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h1>Welcome To TechReviewPoint</h1>
                <p>Start from today and watch review before buying</p>
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
            <img src="https://source.unsplash.com/1400x400/?laptop" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h1>Best Review Site</h1>
                <p>1000+ specialist product reviewer around the world</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://source.unsplash.com/1400x400/?phone" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h1>Find Your Category</h1>
                <p>Search your favourite category and write a review</p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<!--Carousel Slide Ends Here-->
