
@{
    ViewBag.Title = "Profile";
}
<div class="container body-content my-4">
    <!--Profile Picture-->
    <img src="https://source.unsplash.com/1400x600/?portrait" class="bd-placeholder-img rounded-circle" width="200" height="200">

    <div class="mx-4 my-4">
        <h1>Profile Name</h1>
        <h6>Tech Points <span class="badge bg-secondary"> 8.5/10</span></h6>
        <p>Upatyaka 13/1, Hasan Nagar Sunamganj</p>


    </div>

    <!--Modal-->
    <div class="mx-4 my-4">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#exampleModal1">
            Followers
        </button>
        <button type="button" class="btn btn-info mx-4" data-bs-toggle="modal" data-bs-target="#exampleModal2">
            Following
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Followers</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <h4>No Followers Yet</h4>
                    </div>

                </div>
            </div>
        </div>

        <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Following</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <h4>No Following Yet</h4>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <h6>Reviewed By 'Profile Name'</h6>
    <hr class="featurette-divider">

    <!--Review Cards-->
    <div class="card my-4">
        <h5 class="card-header">Product Name</h5>
        <div class="card-body">
            <h5 class="card-title">Review</h5>
            <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            <a href="~/ReviewDetails/ReviewDetails" class="btn btn-info">View Details</a>
        </div>
    </div>
    <div class="card my-4">
        <h5 class="card-header">Product Name</h5>
        <div class="card-body">
            <h5 class="card-title">Review</h5>
            <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            <a href="" class="btn btn-info">View Details</a>
        </div>
    </div>
    <div class="card my-4">
        <h5 class="card-header">Product Name</h5>
        <div class="card-body">
            <h5 class="card-title">Review</h5>
            <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            <a href="" class="btn btn-info">View Details</a>
        </div>
    </div>
    <div class="card my-4">
        <h5 class="card-header">Product Name</h5>
        <div class="card-body">
            <h5 class="card-title">Review</h5>
            <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            <a href="" class="btn btn-info">View Details</a>
        </div>
    </div>
    <div class="card my-4">
        <h5 class="card-header">Product Name</h5>
        <div class="card-body">
            <h5 class="card-title">Review</h5>
            <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            <a href="" class="btn btn-info">View Details</a>
        </div>
    </div>


</div>

